input{
    background: #d9d9d9ae !important;
       
}
body{
    background:url("../assets/img/imgs.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    border: red 2px solid;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    
}
.foo{
    position: absolute;
    bottom: 0;
}
.container{
    position: absolute;
    bottom: 0;
    
}